<%- include('./header'); %>

  <div class="login login-v2 fw-bold">

    <div class="login-cover">
      <div class="login-cover-img" style="background-image: url(../assets/img/login-bg/login-bg-17.jpg)"
        data-id="login-cover-image"></div>
      <div class="login-cover-bg"></div>
    </div>


    <div class="login-container">

      <div class="login-header">
        <div class="brand">
          <small>비밀번호를 재설정하는 방법에 대한 지침을 이메일로 보내드리겠습니다</small>
        </div>
        <div class="icon">
          <i class="fa fa-lock"></i>
        </div>
      </div>


      <div class="login-content">
        <form method="post">
          <div class="form-floating mb-20px">
            <input type="text" name="account" class="form-control fs-13px h-45px border-0" placeholder="Email Address"
              id="emailAddress">
            <label for="emailAddress" class="d-flex align-items-center text-gray-600 fs-13px">Email
              Address</label>
          </div>
          <div class="mb-20px">
            <button type="button" class="btn btn-theme d-block w-100 h-45px btn-lg"
              onclick="do_findpassword(this.form);">비밀번호 찾기</button>
          </div>

          <div class="text-gray-500">
            <a href="javascript:history.back();" class="text-white">뒤로</a>
          </div>
        </form>
      </div>

    </div>

  </div>

  <script>

    function do_findpassword(f) {

      let target = f.closest('.login-container');

      let account = $(f).find('input[name=account').val();;

      if (account.length < 5) {
        alert('Please enter your account');
        return false;
      }

      pwUtils.showLoading(target);

      pwUtils.ajaxJSON('/auth/findpassword', $(f).serialize(), (data) => {
        switch (data['result']) {
          case 100:
            alert('Emailed to you');
            location.href = '/';
            break;
          case 201:
            alert('Please check your ID and password.');
            break;
          case 401:
            alert('The right to use is restricted. Please contact the administrator.');
            break;
          case 403:
            alert('Please wait for account approval.');
            break;
          default:
            alert(data.msg || "That was a wrong approach.");
            break;
        }
        pwUtils.hideLoading(target);
      }, (j) => {
        alert('Login failed due to server error.');
        pwUtils.hideLoading(target);
      });
    }
  </script>

  <%- include('./footer'); %>