</div>
<!-- END #app -->


<!-- ================== BEGIN core-js ================== -->
<script src="/assets/js/vendor.min.js"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
<script src="/assets/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/assets/js/utils.js?v=<%=Date.now()%>"></script>
<script src="/assets/js/common.js?v=<%=Date.now()%>"></script>
<!-- ================== END core-js ================== -->

</body>

</html>
