</div>
<!-- END #content -->

</div>

<!-- ================== BEGIN core-js ================== -->
<script src="/assets/js/vendor.min.js" type="text/javascript"></script>
<script src="/assets/js/app.js?v=<%=Date.now()%>" type="text/javascript"></script>
<!-- ================== END core-js ================== -->

<!-- ================== BEGIN addon-js ================== -->
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.ko.min.js"></script>
<script src="/assets/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/assets/plugins/jstree/jstree.min.js"></script>
<script src="/assets/js/utils.js?v=<%=Date.now()%>"></script>
<script src="/assets/js/common.js?v=<%=Date.now()%>"></script>
<!-- ================== END addon-js ================== -->

</body>

</html>