</div>
<!-- END #content -->

</div>

<!-- ================== BEGIN core-js ================== -->
<script src="/assets/js/vendor.min.js" type="text/javascript"></script>
<script src="/assets/js/app.min.js" type="text/javascript"></script>
<!-- ================== END core-js ================== -->

<!-- OR without vendor.min.js -->

<!-- ================== BEGIN core-js ================== -->
<script src="/assets/plugins/pace-js/pace.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery-ui-dist/jquery-ui.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="/assets/plugins/js-cookie/js.cookie.js" type="text/javascript"></script>
<script src="/assets/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
<script src="/assets/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/assets/js/utils.js?v=<%=Date.now()%>"></script>
<!-- ================== END core-js ================== -->

<script>


  $('.menu-link').each((i, v) => {
    const t = $(v);
    if (t.attr('href') == window.location.pathname + window.location.search)
      t.parent().addClass('active');
    if (t.attr('link') && t.attr('link').split(',').includes(window.location.pathname + window.location.search))
      t.parent().addClass('active');
  });      
</script>
</body>

</html>